.page {
 margin: 0;
 padding: 0;
 font-family: 'Inter';
}

.header {
 width: 92.5%;
 margin: 28px auto 0 auto;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.header__logo {
 width: 176px;
 height: 52px;
}

.header__lang {
 display: flex;
 justify-self: right;
 font-weight: 400;
 font-size: 24px;
 line-height: 28px;
 padding-top: 18px;
}

.header__lang_value_ru {
 margin: 0;
 padding: 0;
 text-decoration: underline;
}

.lead {
 margin-top: 56px;
}

.lead__subtitle {
 margin: 32px auto 0 auto;
 width: 50%;
 font-weight: 400;
 font-size: 30px;
 line-height: 36px;
 text-align: center;
}


.header__lang_value_en {
 margin: 0;
 padding: 0;
 margin-left: 18px;
}

.lead__caption {
 margin: 8px 0 0 148px;
 font-weight: 400;
 line-height: 14px;
 font-size: 10px;
 text-transform: uppercase;
 letter-spacing: 1.5px;
}

.lead__title {
 margin: 0 auto 0 auto;
 width: calc(100% - 280px - 280px);
 text-align: center;
 font-weight: 900;
 font-size: 96px;
 line-height: 100px;
}

.lead__image {
 display: flex;
 width: calc(100% - 148px - 148px);
 margin: 64px auto 0 auto;
}

.nav {
 display: flex;
 margin-top: 92px;
}

.footer__list {
 display: inline-flex;
 list-style: none;
}

.footer__link {
 margin-left: 16px;
}

.footer__copyright {
 margin-left: 533px;
}

.intro__title {
 margin: 92px 0 0 148px;
 font-weight: 900;
 font-size: 54px;
 line-height: 58px;
}

.intro__list {
 margin: 33px 0 0 148px;
 padding: 0;
}

.intro__list_li {
 margin: 0;
 list-style: none;
 font-weight: 700;
 font-size: 12px;
 line-height: 18px;
}

.intro__list_span {
 font-weight: 400;
 font-size: 12px;
 line-height: 18px;
}
.intro__text {
 margin: 40px 0 0 148px;
 font-weight: 400;
 font-size: 16px;
 line-height: 163%;
 width: calc(100% - 148px - 442px);
}

.photo-grid {
 margin: 92px auto 0 auto;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 width: calc(100% - 48px - 48px);
 gap: 16px;
}

.photo-grid__item {
 width: 284px;
 height: 213px;
}

.places__place {
 margin: 92px auto 0 auto;
 width: calc(100% - 148px - 148px);
 display: grid;
 grid-template-columns: repeat(2, 1fr);
}

.places__place_title {
 width: calc(100% - 148px - 672px);
 font-weight: 900;
 font-size: 72px;
 line-height: 76px;
 margin: 0;
 padding: 0;
}

.places__place_website{
 display: flex;
 flex-direction: column;
 align-self: flex-end;
 margin: 0 0 0 40px;
 padding: 0;
}

.places__place_paragraph {
 width: 484px;
 margin: 48px 0 0 40px;
 font-weight: 400;
 font-size: 18px;
 line-height: 163%;
}

.cover {
 margin: 92px auto 0 auto;
 width: calc(100% - 48px - 48px);
 position: relative;
}

.cover__image {
 background-image: url(../../images/__background.png);
 height: 740px;
 z-index: 1;
}

.cover__title {
 position: absolute;
 top: 245px;
 left: 312px;
 z-index: 3;
 width: calc(100% - 312px - 312px);
 text-align: center;
 font-weight: 900;
 font-size: 72px;
 line-height: 76px;
}

.cover__subtitle {
 position: absolute;
 top: 461px;
 left: 412px;
 font-weight: 400;
 font-size: 18px;
 line-height: 22px;
 width: calc(100% - 412px - 412px);
 text-align: center;
}

.cover__background {
 position: absolute;
 top: 0;
 left: 0;
 z-index: 2;
}

.places__place_paragraph:last-child {
 margin-top: 26px;
}

.places__place_website_url-heading {
 color: #aaa;
 font-weight: 400;
 font-size: 12px;
 line-height: 12px;
 margin: 0;
 padding: 0;
}

.places__place_website_link {
 text-decoration: underline;
 color: #fff;
 font-weight: 400;
 font-size: 18px;
 line-height: 22px;
 margin: 12px 0 0 0 ;
 padding: 0;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
 .lead__image {
  width: calc(100% - 48px - 48px);
 }
}
