.place__text {
 grid-column-start: 2;
 margin: 32px 0 0 0;
 max-width: 288px;
}

@media screen and (min-width: 768px) {
 .place__text {
  margin: 48px 0 0 0;
  max-width: 352px;
 }
}

@media screen and (min-width: 1024px) {
 .place__text {
  margin: 48px 0 0 0;
  max-width: 456px;
 }
}

@media screen and (min-width: 1024px) {
 .place__text {
  margin: 48px 0 0 0;
  max-width: 484px;
 }
}